<h1>Projects</h1>

<p class="projects-intro">
Since January
I've been building an application for the Seattle Police Department
during my <a href="https://codeforamerica.org/">Code for America</a> fellowship.
Previously, I've worked on Rails applications
as a freelance designer and developer.
Here's a sampling of current and past work.
</p>

<div class="projects">
  <% collection(:projects).pages.each do |project| %>
    <div class="project">
      <div class="project-media">
        <img
           src="<%= project.data[:logo] %>"
           alt="<%= project.data[:title] %> Logo"
           />
      </div>

      <div class="project-info">
        <h2><%= project.data[:title] %></h2>

        <div class="description">
          <%= project.data[:teaser] %>
        </div>

        <ul class="project-links">
          <% if project.data[:skeleton].nil? %>
            <li><a class="details" href="<%= project.url %>">Details</a></li>
          <% end %>

          <% if project.data[:site] %>
            <li><a class="website" href="<%= project.data[:site] %>">Visit Site</a></li>
          <% end %>

          <% if project.data[:source] %>
            <li><a class="source" href="<%= project.data[:source] %>">View Source</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
